@import "../../../@theme/styles/themes";
$shadow-green: #00977e;
@include nb-install-component() {
  .progress-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
  .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -8px;
  }

  button {
    margin-top: -8px;
  }

  .update-minor {
    color: nb-theme(color-success-default);
  }

  .update-major {
    color: nb-theme(color-danger-default);
  }

  .update-inter {
    color: nb-theme(color-warning-default);
  }

  .title-config-etat {
    color: nb-theme(color-primary-default);
  }

  // Loader RAM
  .LoaderBalls {
    width: 157px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: #73a1ff;
  }

  /*.right {
    display: flex;
    justify-content: flex-end;
  }*/

  .LoaderBalls.diskSpace {
    width: 42px;
  }
  .LoaderBalls__item {
    font-size: 17px;
    margin-top: -16px;
  }
  .LoaderBalls__item:nth-child(1) {
    animation: bouncing 0.4s alternate infinite
      cubic-bezier(0.6, 0.05, 0.15, 0.95);
  }
  .LoaderBalls__item:nth-child(2) {
    animation: bouncing 0.4s 0.1s alternate infinite
      cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
  }
  .LoaderBalls__item:nth-child(3) {
    animation: bouncing 0.4s 0.2s alternate infinite
      cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
  }

  @keyframes bouncing {
    0% {
      transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
    }
    100% {
      transform: translate3d(0, -1px, 0) scale(0.9, 1.1);
    }
  }
}
