<div class="row">
    <div class="col-md-10">
        <div class="title">
            <h2>{{ 'lnpc.title' | translate }}</h2>
        </div>
    </div>
    <div class="col-md-2">
        <button nbButton *ngIf="accessChecker.isGranted('create', 'policies') | async" status="primary"
            (click)="onEdit()">
            <nb-icon icon="edit-outline"></nb-icon>Modifier
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Conditions générales d'utilisation</nb-card-header>
            <nb-card-body class="col-md-12">
                <div>
                    L'utilisateur connecté et à l'initiative de la création du site à parir du service e-comBox est seul
                    repsonsable de l'utilisation qui est faite dudit site Web. <strong>{{ notice.owner }}</strong>
                    n'est pas responsable
                    de l’utilisation ou des effets du Contenu ou des sites Web tiers. Ainsi, par exemple :
                    <ul>
                        <br />
                        <li>
                            <strong>{{ notice.owner }}</strong> n'a aucun contrôle sur les sites Web tiers.
                        </li>
                        <li>
                            Un lien vers ou depuis le service e-comBox ne représente ni n’implique que
                            <strong>{{ notice.owner}}</strong> approuve
                            un site Web tiers.
                        </li>
                        <li>
                            <strong>{{ notice.owner }}</strong> n’approuve aucun Contenu et ne prétend en aucune
                            manière que le Contenu
                            est exact,
                            utile ou non nuisible. Le Contenu peut être offensant, indécent ou répréhensible ; inclure
                            des inexactitudes techniques, des erreurs typographiques ou autres ; ou violer ou enfreindre
                            la confidentialité, les droits de publicité, les droits de propriété intellectuelle ou les
                            autres droits de propriété de tiers.
                        </li>
                        <li>
                            L'utilisateur est entièrement responsable du Contenu disponible sur son site Web et de tout
                            préjudice résultant dudit Contenu. Il lui incombe de s'assurer que le Contenu du
                            site Web respecte les lois applicables et le Contrat.
                        </li>
                        <li>
                            <strong>{{ notice.owner }}</strong> décline toute responsabilité en cas de préjudice
                            résultant de l’accès, de l’utilisation, de l’achat ou du téléchargement du Contenu, ou de
                            préjudice résultant de sites Web tiers.
                        </li>
                    </ul>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>{{ 'lnpc.policies.title' | translate }}</nb-card-header>
            <nb-card-body class="col-md-12">
                <div>
                    Les informations de connexion sont enregistrées dans un fichier informatisé par
                    <strong>{{ notice.manager }}</strong> pour <strong>garantir un fonctionnement correct du
                        service</strong>. La base légale du traitement est le consentement de l'utilisateur.
                </div>
                <div>
                    Les données collectées seront communiquées aux seuls destinataires suivants : <strong>{{
                        notice.admin }}</strong>.
                </div>
                <div>
                    Les données sont conservées <strong>tant que le compte de l'utilisateur est actif</strong>.
                </div>
                <div>
                    Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer
                    votre droit à la limitation du traitement de vos données. Vous pouvez retirer à tout moment votre
                    consentement au traitement de vos données.
                </div>
                <div>
                    Consultez le site cnil.fr pour plus d’informations sur vos droits.
                </div>
                <div>
                    Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif,
                    vous pouvez contacter notre délégué à la protection des données : <strong>{{ notice.dpd }}</strong>
                </div>
                <div>
                    Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas
                    respectés, vous pouvez adresser une réclamation à la CNIL.
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>{{ 'lnpc.legal.title' | translate }}</nb-card-header>
            <nb-card-body class="col-md-12">
                <div>
                    Propriétaire du site : <strong>{{ notice.owner }}</strong>
                </div>
                <div>
                    Adresse : <strong>{{ notice.address }}</strong>
                </div>
                <div>
                    Immatriculation : <strong>{{ notice.registration }}</strong>
                </div>
                <div>
                    Hébergeur : <strong>{{ notice.host }}</strong>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>