<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card-header>Créer un modèle de site</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label for="inputLastName" class="label">Créer une nouveau modèle</label>
          <input #new type="text" nbInput fullWidth id="new" placeholder="Nom du nouveau modèle"
            (keyup.enter)="submit(new.value)" maxlength="10">
        </div>
      </div>
      <div class="col-sm-1">OU</div>
      <div class="col-sm-5">
        <div class="form-group">
          <label for="inputFirstName" class="label">Remplacer un modèle existant</label>
          <nb-select [disabled]="listImages.length === 0 || new.value.length > 0" fullWidth
            placeholder="Choisir un modèle" [(ngModel)]="img" [(selected)]="itemSelected" status="primary">
            <nb-option *ngFor="let img of listImages" [value]="img.value">
              {{img.label}}</nb-option>
          </nb-select>
        </div>
      </div>
    </div>
    <button nbButton status="danger" (click)="cancel()">Annuler</button>
    <button nbButton class="btn-success" status="success" [nbPopover]="err" nbPopoverPlacement="right"
      (click)="submit(new.value)">Valider</button>
  </nb-card-body>
</nb-card>