<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Modifier les mentions légales et CGU</nb-card-header>
            <nb-card-body>
                <form class="form-horizontal" (ngSubmit)="confirmEdit()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputOwner" class="label">Propriétaire</label>
                                <input type="text" nbInput fullWidth id="inputOwner" [(ngModel)]="notice.owner"
                                    name="owner" placeholder="{{ this.todo }}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputHost" class="label">Hébergeur</label>
                                <input type="text" nbInput fullWidth id="inputHost" [(ngModel)]="notice.host"
                                    name="host" placeholder="{{ this.todo }}">
                            </div>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputAddress" class="label">Adresse</label>
                                <textarea nbInput fullWidth id="inputAddress" [(ngModel)]="notice.address"
                                    name="address" placeholder="{{ this.todo }}"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputHost" class="label">Immatriculation</label>
                                <input type="text" nbInput fullWidth id="inputRegistration"
                                    [(ngModel)]="notice.registration" name="registration" placeholder="{{ this.todo }}">
                            </div>
                        </div>
                    </div>
                    <button type="submit" nbButton status="warning">Valider</button>
                    <button nbButton status="danger" (click)="close()" class="cancel">Annuler</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<nb-card>
    <nb-card-header>Modifier la politique de confidentialité</nb-card-header>
    <nb-card-body>
        <form (ngSubmit)="confirmEdit()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputManager" class="label">Responsable du traitement</label>
                        <input type="text" nbInput fullWidth id="inputManager" placeholder="{{ this.todo }}"
                            [(ngModel)]="notice.manager" name="manager">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputAdmin" class="label">Administrateur du service</label>
                        <input type="text" nbInput fullWidth id="inputAdmin" placeholder="{{ this.todo }}"
                            [(ngModel)]="notice.admin" name="admin">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputDpd" class="label">Délégué à la Protection des données</label>
                        <input type="text" nbInput fullWidth id="inputDpd" placeholder="{{ this.todo }}"
                            [(ngModel)]="notice.dpd" name="dpd">
                    </div>
                </div>
            </div>
            <button type="submit" nbButton status="warning">Valider</button>
            <button nbButton status="danger" (click)="close()" class="cancel">Annuler</button>
        </form>
    </nb-card-body>
</nb-card>