<div class="row">
    <div class="col-md-12">
        <ecx-ecombox-usage-stats></ecx-ecombox-usage-stats>
    </div>
</div>
<div class="row">
    <div class="col-xxl-6">
        <ecx-ecombox-state></ecx-ecombox-state>
        <ecx-ecombox-server-pie></ecx-ecombox-server-pie>
    </div>
    <div class="col-xxl-6">
        <ecx-ecombox-server-details></ecx-ecombox-server-details>
    </div>
</div>