<div class="row">
    <div class="col-md-12">
        <nb-card [nbSpinner]="stackStore.stackCreationInProgress" nbSpinnerStatus="success">
            <nb-card-header>Créer un site</nb-card-header>
            <nb-card-body class="row col-md-12">
                <div [nbTooltip]="toolTipModel" nbTooltipPlacement="top" nbTooltipStatus="primary"
                    class="col-md-3 radio">
                    <nb-radio-group name="modelType" [(value)]="selectedOption" (valueChange)="onValueChanged()">
                        <nb-radio value="certa" checked="true">Selon un modèle de site fourni</nb-radio>
                        <nb-radio value="custom" [disabled]="customDisabled">Selon un de vos modèles de site
                        </nb-radio>
                    </nb-radio-group>
                </div>
                <div [nbTooltip]="toolTipModelName" nbTooltipPlacement="top" nbTooltipStatus="primary"
                    *ngIf="imagesList.length > 0" class="col-md-3 center">
                    <nb-select placeholder="Choisir un modèle" status="primary" [(ngModel)]="image"
                        [(selected)]="selectedTemplate" fullWidth size="small">
                        <nb-option *ngFor="let image of imagesList" [value]="image.value"
                            (click)="onSelectChanged(image.value)">{{image.label}}</nb-option>
                    </nb-select>
                </div>
                <div [ngClass]="imagesList.length === 0 ? 'col-md-8 onlyinput' : 'col-md-5 center'">
                    <b>{{ type }}-{{ extension }}</b><input #suffix [nbTooltip]="toolTipName" nbTooltipPlacement="top"
                        nbTooltipStatus="primary" fieldSize="small" nbInput
                        [disabled]="loading || (dbType.length === 0 && extension.length === 0 && imagesList.length > 0)"
                        status="primary" placeholder="Saisir le nom du site" [ngModel]="suffixReset"
                        (keyup.enter)="onValidClick(suffix.value);" [nbPopover]="message" nbPopoverPlacement="bottom"
                        nbPopoverTrigger="noop">
                </div>
                <div class="col-md-1 col-sm-12">
                    <button nbButton status="success" (click)="onValidClick(suffix.value);"
                        [disabled]="suffix.value.length === 0">
                        Créer</button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>