@import "../../../@theme/styles/themes";

@include nb-install-component() {
  .centrer {
    text-align: center;
  }

  .space {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .titre {
    border-bottom: 1px groove #cdd5dc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .marge-gauche {
    margin-left: 25px;
  }

  .marge-droite {
    margin-right: 25px;
  }

  .bold {
    font-weight: bold;
  }
}
