@import "../../../@theme/styles/themes";
// $shadow-green: #00977e;
@include nb-install-component() {
  nb-card-header {
    display: flex;
    align-items: center;
    padding-top: nb-theme(card-header-with-select-padding-top);
    padding-bottom: nb-theme(card-header-with-select-padding-bottom);

    // prevents double border from chart yAxisSplitLine
    margin-bottom: -1px;
  }

  nb-card-header button {
    margin-left: auto;
  }

  .progress-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
  /*.title {
        font-family: nb-theme(font-secondary);
        font-size: nb-theme(font-size-lg);
        font-weight: nb-theme(font-weight-bold);
    }*/
  .title-config-etat {
    color: #73a1ff;
  }

  @keyframes bouncing {
    0% {
      transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
    }
    100% {
      transform: translate3d(0, -1px, 0) scale(0.9, 1.1);
    }
  }

  /*/.value {
        font-size: 3rem;
        font-weight: nb-theme(font-weight-light);
        margin-top: 0.5rem;
    }
    .description {
        color: nb-theme(color-fg);
        margin-top: 0.5rem;
    }
    nb-progress-bar~nb-progress-bar {
        margin-top: 1rem;
    }
    .text-link {
        color: nb-theme(color-primary);
        font-size: 2rem;
        margin-left: 0.5rem;
    }
    .description-link {
        color: nb-theme(color-primary);
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }*/
  /*.animated.fadeIn.anim-section-etat {
        animation-delay: 0.5s;
    }
    .refresh {
        position: absolute;
        right: 5%;
        top: 0.5%;
    }*/
}
