<div class="header-container">
    <div class="logo-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
        <a class="logo" href="#" (click)="navigateHome()"><img src="assets/images/logoEcomBox.png" height="40" />
            e-<span>comBox</span></a>
        <div *ngIf="request.requestsPending > 0" style="color: #89D4E7; margin-left: 1rem;"
            class="la-ball-clip-rotate-pulse">
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div class="header-container">
    <nb-actions size="small">
        <nb-action nbTooltip="Aide" nbTooltipStatus="basic" class="control-item" icon="question-mark-circle-outline"
            (click)="navigateHelp()">
        </nb-action>
        <nb-action nbTooltip="Modifier son mot de passe" nbTooltipStatus="basic" class="control-item"
            icon="person-outline" (click)="profile()">
        </nb-action>
        <nb-action nbTooltip="Se déconnecter" nbTooltipStatus="basic" class="control-item" icon="log-out-outline"
            (click)="logout()"></nb-action>
    </nb-actions>
</div>