@import "../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }

  .prestashop {
    color: lightblue !important;
  }

  .odoo {
    background-color: lightcoral !important;
  }

  tr {
    color: red;
  }
}

.prestashop {
  color: lightblue;
}

.odoo {
  color: lightcoral;
}
