<nb-card>
    <nb-card-header>
        Modèles de sites créés
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table *ngIf="data.length > 0" [settings]="settings" [source]="source"
            (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
        <div *ngIf="data.length === 0">Aucune image.</div>
    </nb-card-body>
</nb-card>